body {
    background-color: rgb(88,109,104);
    font-family: monospace;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

img {
    border-radius: 10px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

td.middle {
    text-align: center;
    width: 700px;
}

img.frontimages {
    border: 5px solid grey;
}

p.center {
    text-align: center;
}

img.left {
    float: left;
}

table {
    table-layout: fixed;
}

td.navigation {
    text-align: center;
    line-height: 1.5em;
    vertical-align: top;
    font-family: "Helvetica";
    width: 125px;
    background-color: black;
    border-color: rgb(84,97,91);
    border-radius: 25px;
}

.navigation a:link {
    color: rgb(114, 84, 18);
    text-decoration: none;
}

.navigation a:visited {
    color: rgb(114, 84, 18);
    text-decoration: none;
}

.currentpage {
    font-weight: bold;
}

#page-header {
    text-align: center;
    font-size: 3.0em;
    font-weight: bold;
    font-family: "Open Sans";
    color: rgb(55,61,57);
}

#page-title {
    text-align: center;
    font-size: 1.5em;
    font-family: cursive;
}

#contact {
    font-family: "Helvetica";
    font-size: 0.5em;
}

#get_outside {
    text-align: center;
    font-size: 1.5em;
    font-family: cursive;
}